.logo{
    margin: 20px 0 0 10px;
}
html, body {
    height: 100%;
    margin: 0;
    background: #F3F5FC;

}
#ahorcado {
    margin: 0 0;
    width: 0%;
} 

#palabra {
    margin: 0 0 0 0;
    width: 0%;
}
#nuevojuego {
    margin: 35vh 75vh;
    font-size: 18px;
    color: white;
    background: darkblue;
    padding: 18px;
    border: none;
    width: 25%;
    border-radius: 24px;
    transition: 0.4s all;
}
  
#nuevojuego:hover {
    background-color: rgb(7, 7, 59);
    font-size: 23px;
    padding: 16px 0;
}
  
#nuevojuego:active {
    color: darkblue;
    background: #D8DFE8;
    border: 1px solid;
    padding: 10px;
    border-color: darkblue;
}
  
#nuevojuego:focus {
    box-shadow: 0 0 0 2px darkblue;
}

footer div{
    text-align: center;
    margin: 20px 0 0 0;
    color: darkblue;
    font-size: 15px;
}
